################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RoaSystems.WebAPIDemo/.vs/RoaSystems.WebAPIDemo
